/.TraderDescriptionLabelProvider.java._trace
/.TraderLabelProvider.java._trace
/.TraderDescriptionLabelProvider.xtendbin
/.TraderLabelProvider.xtendbin
/TraderDescriptionLabelProvider.java
/TraderLabelProvider.java
